@using sos100_bibliotek.Controllers
@model IEnumerable<sos100_bibliotek.Models.BookCatalogue>
@{
    ViewData["Title"] = "Katalog";
}
<link rel="stylesheet" href="~/css/BookCatalogue.css" asp-append-version="true"/>
<main>
    @if (Context.Session.GetString("Username") == "admin")
    {
        <a asp-action="CreateBook" class="CreateKnapp">Lägg till en bok</a>
    }

    <h1>Bokkatalog</h1>
    
        <div class="Catalogue">
            @foreach (var Books in Model)
            { 
                <div class="Books">
                    <p><strong>Titel:</strong> @Books.Title</p>
                    <p><strong>Författare:</strong> @Books.Author</p>
                    <p><strong>Utgiven:</strong> @Books.Year</p>
                    <p><strong>Antal sidor:</strong> @Books.Pages</p>
                    <p><strong>Språk:</strong> @Books.Language</p>
                    <p><strong>Förlag:</strong> @Books.Publisher</p>
                    <p><strong>ISBN:</strong> @Books.Isbn</p>

                    <button class="LoanKnapp" type="submit">Låna boken</button>
                    
                    @if (Context.Session.GetString("Username") == "admin")
                    { 
                        <a asp-action="EditBook" asp-route-id="@Books.Id" class="UpdateKnapp">Redigera</a>

                        <form asp-action="DeleteBook" asp-route-id="@Books.Id" method="post">
                            <button class="DeleteKnapp" type="submit">Ta bort boken</button>
                        </form>
                    }
                </div> 
            }
        </div>
</main>