@model IEnumerable<sos100_bibliotek.Models.BookCatalogue>
@{
    ViewData["Title"] = "Katalog";
}
<main>
    <h1>Bokkatalog</h1>
    <div class="Catalogue">
        <form asp-action="Index" method="post">
            <div>
                @foreach (var Books in Model)
                {
                    <p> Titel: @Books.Title</p>
                    <p> Författare: @Books.Author</p>
                    <p> Utgiven: @Books.Year</p>
                    <p> Antal sidor: @Books.Pages</p>
                    <p> Språk: @Books.Language</p>
                    <p> Förlag: @Books.Publisher</p>
                    <p> ISBN: @Books.Isbn</p>
                }
            </div>
        </form>
        <button type="submit">Låna boken!</button>
    </div>
</main>